PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=complaint_system
JWT_SECRET=super_secret_key
JWT_EXPIRES_IN=1d
DEFAULT_USER_PASSWORD=Admin@123
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173,http://localhost:5174
WEB3FORMS_ACCESS_KEY=82d55ba7-5169-4b6f-9f00-dfd600a29563
